<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Page Not Found
        link(rel='stylesheet' type='text/css' href='/css/404.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='/css/main.css')
        link(rel="stylesheet", href="/css/forms.css")
        link(rel="stylesheet", href="/css/product.css")
    
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        section.page_404
        .container
            .row
                .col-sm-12
                    .col-sm-10.col-sm-offset-1.text-center
                        .four_zero_four_bg
                             h1.text-center 404
                        .contant_box_404
                            h3.h2
                                | Look like you&apos;re lost
                            p the page you are looking for not avaible!
                    
